{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "todo/_macros.html" as macros %}
{% import "_g_macros.html" as g_macros %}

{% block head %}
    {{ super() }}
    {{ g_macros.render_header("todo") }}
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - {% endif %}{{ config['SITE_TITLE'] }}
{% endblock %}

{% block navbar %}
    {% include "_g_navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include "_g_flash.html" %}

        <div class="row">
            {% block page_container %}

                <div class="col-md-12">
                    {% block page_main %}

                    {% endblock %}
                </div>

            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

    <script>
        var $TODO_INDEX_PATH = {{ url_for('todo.index')|tojson|safe }};
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        {% if current_user.is_authenticated %}
            var $CSRF_TOKEN = "{{ csrf_token() }}";
        {% endif %}
    </script>

    <script src="{{ url_for('static', filename='js/jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery-ui-punch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/todo.js') }}"></script>

{% endblock %}