{% extends "todo/_base.html" %}

{% block page_main %}
    <div class="page-main">
        <div class="cls-task-text">
            <h4>Idea: <i>any clue to the task?</i></h4>
        </div>

        <div id="id-task-idea">
            {% if task.idea %}
                {{ task.idea | markdown |safe }}
            {% endif %}

        </div>
        <div class="cls-task-idea-origin" style="display: none">
            {% if task.idea %}
                {{ task.idea }}
            {% endif %}
        </div>
        <hr>
        <h4>Notes: <i>feel free to record anything</i></h4>
        <div id="id-flow-panel">
            <ul class="cls-flow-notes">
                {% for note in notes %}
                    <li class="cls-note">{{ note.text }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}

{% block page_sidebar %}
    <div class="page-sidebar">

    </div>
{% endblock %}