{% extends "todo/_base.html" %}

{% block page_main %}
    <div class="page-main">
        <input type="text" id="id-task-input" class="form-control" placeholder="{{ config['SITE_DESCRIPTION'] }}"
               name="task">
        <ul id="id-task-list" class="noselect">

            {{ macros.render_task_list(tasks, '11') }}
            {{ macros.render_task_list(tasks, '10') }}
            {{ macros.render_task_list(tasks, '01') }}
            {{ macros.render_task_list(tasks, '00') }}

        </ul>
    </div>
{% endblock %}

{% block page_sidebar %}
    <div class="page-sidebar">
        <div id="id-info-panel">

        </div>

        <div id="id-create-project">

        </div>
    </div>
{% endblock %}

