{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
          type="image/x-icon">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} -
    {% endif %}
    {{ config['SITE_TITLE'] }}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#site-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ config['SITE_TITLE'] }}</a>
            </div>

            <div class="collapse navbar-collapse" id="site-navbar">

                <ul class="nav navbar-nav">
                    {% if request.endpoint %}
                        <li {% if request.endpoint.startswith('blog.') %} class="active" {% endif %}>
                            <a href={{ url_for('blog.index') }}>博客</a>
                        </li>
                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                管理
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin.new_post') }}">发文</a></li>
                                <li><a href="{{ url_for('admin.index') }}">后台</a></li>
                                <li><a href="{{ url_for('main.logout') }}">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}

            </div>

        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="flashed-message" id="flashed-message">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning fade in" id="flash">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% block page_container %}

                <div class="col-md-9">
                    {% block page_main %}

                    {% endblock %}
                </div>

                <div class="col-md-3">
                    {% block page_sidebar %}

                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment(local_js="/static/js/moment-with-locales.min.js") }}

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ config['GOOGLE_ANALYTICS_CODE'] }}', 'auto');
        ga('send', 'pageview');

    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}