{% macro pagination_widget(pagination, endpoint) %}
    <ul class="pagination">

        <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a href="
        {% if pagination.has_prev %} {{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}
        {% else %}#
        {% endif %}">
                &laquo;
            </a>
        </li>

        {% for p in pagination.iter_pages(3,1,2,3) %}
            {% if p %}
                <li {% if p == pagination.page %} class="active" {% endif %}>
                    <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">&hellip;</a>
                </li>
            {% endif %}
        {% endfor %}

        <li {% if not pagination.has_next %} class="disabled" {% endif %}>
            <a href="
        {% if pagination.has_next %} {{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}
        {% else %}#
        {% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro simple_pagination_widget(pagination, endpoint) %}
    <nav>
        <ul class="pager">
            {% if pagination.has_prev %}
                <li class="previous"><a href="{{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}">
                    <span aria-hidden="true">&larr;</span>上一页
                </a></li>
            {% endif %}
            {% if pagination.has_next %}
                <li class="next"><a href="{{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}">
                    下一页<span>&rarr;</span>
                </a></li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}


{% macro render_post_list(posts, current_user, moment, slug_type=None, slug_value=None, single=False) %}
    <ul class="post-list">
        {% for post in posts %}
            {% if post.public or current_user.is_administrator %}
                <li class="post">
                    <a
                            {% if not single %}
                                {% if not slug_type %}
                                    href="{{ url_for('blog.post', post_link=post.link) }}"
                                {% elif slug_type == 'category' %}
                                    href="{{ url_for('blog.post', post_category_link=slug_value + '/' + post.link) }}"
                                {% elif slug_type == 'tag' %}
                                    href="{{ url_for('blog.post', post_tag_link=slug_value + '/' + post.link) }}"
                                {% endif %}
                            {% endif %}
                    >
                        <h2 class="post-title">{{ post.title }}</h2>
                    </a>

                    <div class="post-meta">
                    <span class="post-date">
                        <span class=" glyphicon glyphicon-calendar" title="日期"></span>&nbsp;
                        {{ moment(post.date).format('LL') }}
                    </span>&nbsp;
                    <span class="post-category">
                        <span class=" glyphicon glyphicon-book" title="分类"></span>&nbsp;
                        <a href="{{ url_for('blog.category', category_link=post._category) }}">
                            {{ post.category.name }}
                        </a>
                    </span>&nbsp;
                        {% if post.tags %}
                            <span class="post-tag">
                        <span class="glyphicon glyphicon-tags" title="标签"></span>&nbsp;
                        {% set tags = post.tags %}
                                {% for tag in tags %}
                                    <a href="{{ url_for('blog.tag', tag_link=tag.replace(' ', '_')) }}">
                                {{ tag }}</a>{% if tag != tags[-1] %},{% endif %}
                                {% endfor %}</span>&nbsp;
                        {% endif %}
                        <span class="post-comment">
                        <span class="glyphicon glyphicon-comment" title="评论"></span>&nbsp;
                        <a href="{{ url_for('blog.post', post_link=post.link, _external=True) }}#disqus_thread"
                           data-disqus-identifier="post-{{ post.title }}">

                        </a>
                    </span>&nbsp;

                        {% if current_user.is_administrator %}
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="post-edit">
                        <a href="{{ url_for("admin.edit_post", post_link=post.link, post_version='main') }}">编辑</a></span>
                        {% endif %}
                    </div>

                    <div class="post-content">
                        {% if single or not config['SHOW_ABSTRACT'] %}
                            <div class="content">
                                {{ post.content | markdown | safe }}
                            </div>
                        {% else %}
                            <div class="abstract">
                                {{ post.abstract | markdown | safe }}
                            </div>
                        {% endif %}
                        <span class="read-more">
                            {% if not single %}
                                <a href="{{ url_for('blog.post', post_link=post.link) }}">阅读全文</a>
                            {% endif %}
                            </span>
                    </div>
                </li>
                <hr>
            {% endif %}
        {% endfor %}
    </ul>

{% endmacro %}