<ul id="sider-nav">

    <li><a href="{{ url_for('blog.index') }}">
        <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页
    </a></li>

    <li><a href="{{ url_for('blog.archive') }}">
        <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;存档
    </a></li>

    <li><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;分类
        <ul id="cate-list" style="list-style-type:none">
            {% for cate in cates %}
                <li>
                    <a href="{{ url_for('blog.category', category_link=cate.link) }}">{{ cate.name }}</a>
                    <span class="badge">{{ cate.posts_count }}</span>
                </li>
            {% endfor %}
        </ul>
    </li>

    <li><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;标签
        <ul id="tag-list" style="list-style-type:none">
            {% for tag in tags %}
                <li>
                    <a href="{{ url_for('blog.tag', tag_name=tag.name) }}">{{ tag.name }}</a>
                    <span class="badge">{{ tag.posts_count }}</span>
                </li>
            {% endfor %}
        </ul>
    </li>

</ul>