{% extends "blog/_base.html" %}

{% block page_main %}
    <div class="page-main">
        <div class="archive-container">

            {% set tmp_year = 0 %}
            {% set start_loop = 0 %}
            {% for post in posts %}
                {% if post.date.year != tmp_year %}
                    {% set tmp_year = post.date.year %}
                    {% if start_loop == 1 %} </ul>
                    {% else %} {% set start_loop = 1 %}
                    {% endif %}
                    <ul class="{{ post.date.year }}" id="post-archive-list">
                    <h3>{{ tmp_year }}年</h3>
                    <li>{{ post.date.month }}月
                        {% if post.date.day < 10 %}0{% endif %}{{ post.date.day }}日 &raquo; <a
                                href="{{ url_for("blog.post",
                                                 post_link=post.link,
                                                 post_date='%s/%s' % (post.date.year, post.date.month)) }}">
                            {{ post.title }}</a>
                    </li>
                {% else %}
                    <li>{{ post.date.month }}月
                        {% if post.date.day < 10 %}0{% endif %}{{ post.date.day }}日 &raquo; <a
                                href="{{ url_for("blog.post",
                                                 post_link=post.link,
                                                 post_date='%s/%s' % (post.date.year, post.date.month)) }}">
                            {{ post.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}


{% block page_sidebar %}
    <div class="page-sidebar">
        {% include "blog/_sider_bar.html" %}
    </div>
{% endblock %}