{% extends "blog/_base.html" %}

{% block page_main %}
    <div class="page-main">

        <div id="post-container">
            {{ macros.render_post_list(posts, moment=moment, current_user=current_user) }}
        </div>

        {% if pagination %}
            <div class="post-pagination">
                {% if request.endpoint == 'main.index' %}
                    {{ macros.simple_pagination_widget(pagination=pagination, endpoint="main.index") }}
                {% else %}
                    {{ macros.simple_pagination_widget(pagination=pagination, endpoint="blog.index") }}
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block page_sidebar %}
    <div class="page-sidebar">
        {% include "blog/_sider_bar.html" %}
    </div>
{% endblock %}