{% extends "blog/_base.html" %}

{% block page_main %}
    <h2 class="cls-section-identifier">标签: {{ tag.name }}</h2>
    <hr>
    <div class="page-main">

        <div id="post-container">
            {{ macros.render_post_list(posts,
                                       current_user=current_user,
                                       moment=moment,
                                       slug_type='tag',
                                       slug_value=tag.link) }}
        </div>

        {% if pagination %}
            <div class="post-pagination">
                {{ macros.simple_pagination_widget(pagination=pagination, tag_link=tag.link, endpoint="blog.tag") }}
            </div>
        {% endif %}

    </div>
{% endblock %}
