{% extends "blog/_base.html" %}

{% block page_main %}
    <h2>标签: {{ tag.name }}</h2>
    <hr>
    <div class="page-main">

        <div id="post-container">
            {% include "blog/_post_list.html" %}
        </div>

        {% if pagination %}
            <div class="post-pagination">
                {{ macros.simple_pagination_widget(pagination=pagination, endpoint="main.index") }}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block page_sidebar %}
    <div class="page-sidebar">
        {% include "blog/_sider_bar.html" %}
    </div>
{% endblock %}