/* 1
*****************************************************************
*                   Index 1: global sets                        *
*****************************************************************/
body {
    padding-top: 70px;
}

body * {
    border-radius: 0 !important;
}

a:hover, a:active, a:visited {
    outline: none !important;
}

.dropdown-menu {
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
}

form #submit {
    float: right;
}

.navbar-fixed-top {
    background-color: white;
    box-shadow: 0 1px 5px rgb(235, 235, 235);
}

.navbar-default .navbar-nav > .active > a {
    background-color: rgb(245, 245, 245);
}


/* 2
*****************************************************************
*                   Index 2: post editor sets                   *
*****************************************************************/

/* 2.1 main body sets*/
#post-editor-main {
    margin-bottom: 4em;
}

#post-editor-content textarea {
    height: 40em;
}

#post-editor-action .btn {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* 2.2 category sets*/
#post-editor-cate-selector {
    max-height: 20em;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#post-editor-cate-selector > li:first-child {
    border-top: 0;
}

#post-editor-cate-selector > li:last-child {
    border-bottom: 0;
}

#post-editor-cate-selector .list-group-item {
    padding: 0.5em;
}

#post-editor-cate-selector .list-group {
    margin-bottom: 0;
}

#post-editor-cate-parent {
    border-bottom: 0;
}

#post-editor-cate-parent option {
    color: black;
}

.option-placeholder {
    color: lightgray;
}

/* Index 2.3: tag sets */
#post-editor-tag .tag-preview {
    background-color: rgb(245, 245, 245);
    padding: 0.3em 1em 0.3em 0.3em;
    border-radius: 0.6em !important;
    margin: 0.3em 0.5em 0 0;
    position: relative;
    display: inline-block;
}

#post-editor-tag .tag-preview a {
    position: absolute;
    right: -0.6em;
    top: -0.6em;
    font-size: 1.2em;
    color: pink;
}

/* Index 2.4: draft reminder sets */
#post-draft-reminder {
    clear: both;
    padding: 0.6em 1em;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

/* 4
*****************************************************************
*                   Index 4: manage table sets            *
*****************************************************************/
#select-all, #batch-action button, #add-new, #go-back {
    margin-bottom: 1em;
    margin-right: 7px;
}

#manage-table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

#manage-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#manage-table a {
    cursor: pointer;
    text-decoration: none;
}

#post-title {
    width: 30%;
}

#post-status, #post-commendable, #post-publicity {
    width: 9%;
}

#post-action {
    width: 7%;
}

#post-cate {
    width: 12%;
}

#cate-order, #cate-posts-count, #cate-children {
    width: 12%;
}

#cate-parent, #cate-action {
    width: 15%;
}

#tag-name, #tag-posts-count, #tag-action {
    width: 33%;
}

.manage-table-actions {
    display: inline-block;
}

/* 8
*****************************************************************
*                   Index 8: admin index sets                  *
*****************************************************************/
#ch-passwd, #ch-profile {
    float: right;
    position: relative;
    bottom: 0;
    margin-right: 1em;
}
