/* 1
*****************************************************************
*                   Index 1: global sets                        *
*****************************************************************/
body {
    padding-top: 70px;
}

body * {
    border-radius: 0 !important;
}

a:hover, a:active, a:visited {
    outline: none !important;
}

.dropdown-menu {
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
}

form #submit {
    float: right;
}

.navbar-fixed-top {
    background-color: white;
    box-shadow: 0 1px 5px rgb(235, 235, 235);
}

.navbar-default .navbar-nav > .active > a {
    background-color: rgb(245, 245, 245);
}

.cls-section-identifier {
    font-size: 1.8em;
}

/* 3
*****************************************************************
*                   Index 3: post index sets                    *
*****************************************************************/

#post-container .post-list {
    padding: 0;
    list-style-type: none;
}

#post-container .post-list .post {
    background-color: white;
    margin-bottom: 3em;
}

#post-container .post a:hover {
    text-decoration: none;
}

#post-container .post-title {
    margin-bottom: 0.4em;
    color: rgb(85, 85, 85);
    font-size: 1.5em;
}

#post-container .post-meta {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

#post-container .post-content {
    margin-bottom: 2em;
    color: rgb(105, 105, 105);
    position: relative;
}

#post-container .post-content pre {
    word-break: normal;
    word-wrap: normal;
}

#post-container .read-more {
    position: absolute;
    right: 1em;
}

hr {
    margin-bottom: 2em;
}

/* 6
*****************************************************************
*                   Index 6: post archive sets                  *
*****************************************************************/
.archive-container ul {
    padding-left: 0;
}

#post-archive-list {
    list-style-type: none;
    font-size: 1.2em;
    color: rgb(105, 105, 105);
}

#post-archive-list h3 {
    color: dimgray;
    font-size: 1.2em;
}

#post-archive-list a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

/* 7
*****************************************************************
*                   Index 7: category sets                  *
*****************************************************************/
#children-list > a {
    color: rgb(125, 125, 125);
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 0;
    border: 1px solid dimgray;
}

.child-category-list, .grandchild-category-list {
    list-style-type: none;
    padding: 0;
}

.child-category {
    cursor: pointer;
    height: 10em;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.child-category-wrapper {
    border: 1px solid rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-height: 15em;
    padding-left: 10px;
}

.child-category-wrapper a {
    text-decoration: none;
    color: dimgray;
}

.grandchild-category a {
    font-size: 0.7em;
    color: lightgray;
}

/* 8
*****************************************************************
*                   Index 8: tag sets                  *
*****************************************************************/
.cls-tags-show {
    margin-bottom: 5em;
}

.cls-tags-show .tag-item {
    margin-right: 1em;
}

.cls-tags-posts h3 {
    color: dimgray;
    font-size: 1.2em;
}

.cls-tag-posts {
    list-style-type: none;
    padding-left: 1em;

}

.cls-tag-posts li {
}

.cls-tag-posts a {
    text-decoration: none;
}

/* 9
*****************************************************************
*                   Index 9: site footer sets                 *
*****************************************************************/
.page-footer {
    text-align: center;
    margin-bottom: 1em;
}

.page-footer p {
    margin: 0;
}

/* 10
*****************************************************************
*                   Index 10: pygments code highlight           *
*****************************************************************/
pre {
    background-color: white;
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight {
    background: #f8f8f8;
}

.highlight .c {
    color: #408080;
    font-style: italic
}

/* Comment */
.highlight .err {
    border: 1px solid #FF0000
}

/* Error */
.highlight .k {
    color: #008000;
    font-weight: bold
}

/* Keyword */
.highlight .o {
    color: #666666
}

/* Operator */
.highlight .ch {
    color: #408080;
    font-style: italic
}

/* Comment.Hashbang */
.highlight .cm {
    color: #408080;
    font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
    color: #BC7A00
}

/* Comment.Preproc */
.highlight .cpf {
    color: #408080;
    font-style: italic
}

/* Comment.PreprocFile */
.highlight .c1 {
    color: #408080;
    font-style: italic
}

/* Comment.Single */
.highlight .cs {
    color: #408080;
    font-style: italic
}

/* Comment.Special */
.highlight .gd {
    color: #A00000
}

/* Generic.Deleted */
.highlight .ge {
    font-style: italic
}

/* Generic.Emph */
.highlight .gr {
    color: #FF0000
}

/* Generic.Error */
.highlight .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */
.highlight .gi {
    color: #00A000
}

/* Generic.Inserted */
.highlight .go {
    color: #888888
}

/* Generic.Output */
.highlight .gp {
    color: #000080;
    font-weight: bold
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */
.highlight .gt {
    color: #0044DD
}

/* Generic.Traceback */
.highlight .kc {
    color: #008000;
    font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
    color: #008000;
    font-weight: bold
}

/* Keyword.Declaration */
.highlight .kn {
    color: #008000;
    font-weight: bold
}

/* Keyword.Namespace */
.highlight .kp {
    color: #008000
}

/* Keyword.Pseudo */
.highlight .kr {
    color: #008000;
    font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
    color: #B00040
}

/* Keyword.Type */
.highlight .m {
    color: #666666
}

/* Literal.Number */
.highlight .s {
    color: #BA2121
}

/* Literal.String */
.highlight .na {
    color: #7D9029
}

/* Name.Attribute */
.highlight .nb {
    color: #008000
}

/* Name.Builtin */
.highlight .nc {
    color: #0000FF;
    font-weight: bold
}

/* Name.Class */
.highlight .no {
    color: #880000
}

/* Name.Constant */
.highlight .nd {
    color: #AA22FF
}

/* Name.Decorator */
.highlight .ni {
    color: #999999;
    font-weight: bold
}

/* Name.Entity */
.highlight .ne {
    color: #D2413A;
    font-weight: bold
}

/* Name.Exception */
.highlight .nf {
    color: #0000FF
}

/* Name.Function */
.highlight .nl {
    color: #A0A000
}

/* Name.Label */
.highlight .nn {
    color: #0000FF;
    font-weight: bold
}

/* Name.Namespace */
.highlight .nt {
    color: #008000;
    font-weight: bold
}

/* Name.Tag */
.highlight .nv {
    color: #19177C
}

/* Name.Variable */
.highlight .ow {
    color: #AA22FF;
    font-weight: bold
}

/* Operator.Word */
.highlight .w {
    color: #bbbbbb
}

/* Text.Whitespace */
.highlight .mb {
    color: #666666
}

/* Literal.Number.Bin */
.highlight .mf {
    color: #666666
}

/* Literal.Number.Float */
.highlight .mh {
    color: #666666
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #666666
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #666666
}

/* Literal.Number.Oct */
.highlight .sb {
    color: #BA2121
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #BA2121
}

/* Literal.String.Char */
.highlight .sd {
    color: #BA2121;
    font-style: italic
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #BA2121
}

/* Literal.String.Double */
.highlight .se {
    color: #BB6622;
    font-weight: bold
}

/* Literal.String.Escape */
.highlight .sh {
    color: #BA2121
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #BB6688;
    font-weight: bold
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #008000
}

/* Literal.String.Other */
.highlight .sr {
    color: #BB6688
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #BA2121
}

/* Literal.String.Single */
.highlight .ss {
    color: #19177C
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #008000
}

/* Name.Builtin.Pseudo */
.highlight .vc {
    color: #19177C
}

/* Name.Variable.Class */
.highlight .vg {
    color: #19177C
}

/* Name.Variable.Global */
.highlight .vi {
    color: #19177C
}

/* Name.Variable.Instance */
.highlight .il {
    color: #666666
}

/* Literal.Number.Integer.Long */

/*.highlight pre, .highlighttable .linenos pre {*/
/*font-size: 1em;*/
/*line-height: 1.4em;*/
/*}*/
/*table.docutils, table.docutils tbody, table.docutils tr, table.docutils td {*/
/*width: 100%;*/
/*max-width: 100%;*/
/*display: block;*/
/*}*/
/*.highlighttable td.linenos, .highlighttable .linenos pre {*/
/*padding: 0;*/
/*border-right: none;*/
/*display: table-cell;*/
/*width: 50px;*/
/*}*/
/*.highlighttable td.code {*/
/*display: table-cell;*/
/*overflow-x: scroll !important;*/
/*}*/
/*.highlighttable td.code .highlight{*/
/*max-width: 100%;*/
/*}*/
/*.highlighttable td.code .highlight pre {*/
/*width: 10px;*/
/*max-width: 100%;*/
/*}*/