/* 1
*****************************************************************
*                   Index 1: global sets                        *
*****************************************************************/
body {
    padding-top: 70px;
}

body * {
    border-radius: 0 !important;
}

a:hover, a:active, a:visited {
    outline: none !important;
}

.dropdown-menu {
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
}

form #submit {
    float: right;
}

/* 3
*****************************************************************
*                   Index 3: post index sets                    *
*****************************************************************/

#post-container .post-list {
    padding: 0;
    list-style-type: none;
}

#post-container .post-list .post {
    margin-bottom: 3em;
    border-bottom: 1px solid rgb(248, 248, 248)
}

#post-container .post a:hover {
    text-decoration: none;
}

#post-container .post-title {
    /*font-size: 2em;*/
    margin-bottom: 0.2em;
    color: rgb(85, 85, 85)
}

#post-container .post-meta {
    margin-bottom: 0.5em;
}

#post-container .post-content {
    margin-bottom: 1em;
    /*font-size: 1.4em;*/
    color: rgb(105, 105, 105);
    position: relative;
}

#post-container .post-content pre {
    word-break: normal;
    word-wrap: normal;
}

#post-container .read-more {
    /*font-size: 0.8em;*/
    position: absolute;
    bottom: -1.3em;
    right: 1em;
    margin-bottom: 0.1em;
}

/* 5
*****************************************************************
*                   Index 5: sider sets                   *
*****************************************************************/
.page-sidebar {

}

#sider-nav {
    list-style-type: none;
    padding: 20px 25px;
    color: dimgray;
    background: rgb(250, 250, 250);
    border-radius: 4px !important;
    border: 1px solid rgb(230, 230, 230);
}

#sider-nav > li {
    font-size: 1.3em;
    margin-bottom: 15px;
}

#sider-nav a {
    text-decoration: none;
    color: dimgray;
}

#tag-list, #cate-list {
    padding-left: 20px;
}

#tag-list > li, #cate-list > li {
    padding-top: 10px;
}

#tag-list .badge, #cate-list .badge {
    border-radius: 5px !important;
    background-color: rgb(205, 205, 205);
}

/* 6
*****************************************************************
*                   Index 6: post archive sets                  *
*****************************************************************/
.archive-container ul {
    padding-left: 0;
}

#post-archive-list {
    list-style-type: none;
    font-size: 1.5em;
    color: rgb(105, 105, 105);
}

#post-archive-list h3 {
    color: dimgray;
    font-size: 1.6em;
}

#post-archive-list a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

/* 7
*****************************************************************
*                   Index 7: category sets                  *
*****************************************************************/
#children-list > a {
    color: rgb(125, 125, 125);
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid dimgray;
}

.child-category-list, .grandchild-category-list {
    list-style-type: none;
    padding: 0;
}

.child-category {
    cursor: pointer;
    height: 10em;
    border: 1px solid rgb(235, 235, 235);
    margin: 1em 2em;
    padding: 2em 1em 1em 2em;
    font-size: 1.5em;
}

.child-category > a {
    text-decoration: none;
    color: dimgray;
}

.grandchild-category a {
    font-size: 0.7em;
    color: lightgray;
}

/* 9
*****************************************************************
*                   Index 9: site footer sets                 *
*****************************************************************/
.page-footer {
    text-align: center;
}

.page-footer p {
    margin: 0;
}