/* 1
*****************************************************************
*                   Index 1: global sets                        *
*****************************************************************/
body {
    padding-top: 70px;
}

body * {
    border-radius: 0 !important;
}

a:hover, a:active, a:visited {
    outline: none !important;
}

.dropdown-menu {
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
}

form #submit {
    float: right;
}

.navbar-fixed-top {
    background-color: white;
    box-shadow: 0 1px 5px rgb(235, 235, 235);
}

.navbar-default .navbar-nav > .active > a {
    background-color: rgb(245, 245, 245);
}

