/* 1
*****************************************************************
*                   Index 1: global sets                        *
*****************************************************************/
body {
    padding-top: 70px;
}

body * {
    border-radius: 0 !important;
}

a:hover, a:active, a:visited {
    outline: none !important;
}

.dropdown-menu {
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
}

form #submit {
    float: right;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

#flashed-message {
    position: relative;
    top: 35%;
    z-index: 10;
}

#flashed-message .alert {
    position: absolute;
    width: 100%;
}

/* 2
*****************************************************************
*                   Index 2: index sets                        *
*****************************************************************/
#id-task-input {
    font-size: 1.5em;
    line-height: 2em;
    height: 2.2em;
    padding-left: 5px;
    padding-right: 5px;
}

#id-task-list {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px dotted black;
}

.cls-task {
    font-size: 1.5em;
    line-height: 2em;
    border-bottom: 1px dashed grey;
    padding-left: 5px;
    padding-right: 5px;
}

.cls-task input {
    float: right;
    font-size: 5em;

}

.cls-task-11 {
    color: #a94442;
    background-color: #f2dede;
}

.cls-task-10 {
    color: #31708f;
    background-color: #d9edf7;
}

.cls-task-01 {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.cls-task-menu {
    border: 1px solid black;
    min-width: 6em;
    background-color: rgb(253, 253, 253);
    font-size: 1.2em;
    box-shadow: 0 5px 5px rgb(235, 235, 235);
}

.cls-task-menu ul {
    list-style-type: none;
    margin-bottom: 0;
}

.cls-task-menu li {
    line-height: 2em;
    border-bottom: 1px solid grey;
    padding-left: 5px;
    cursor: pointer;
}

.cls-menu-bottom {
    border-bottom: none !important;
}

/* 3
*****************************************************************
*                   Index 3: flow sets                        *
*****************************************************************/
.cls-task-idea, .cls-flow-panel {
    background-color: rgb(235, 235, 235);
    width: 100%;
    min-height: 10em;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px !important;
}

.cls-idea-text-wrapper {
    margin: 0;
    padding: 0;
}

.cls-task-idea-text {
    width: 100%;
}

.cls-delete-text {
    position: relative;
    float: right;
    bottom: 30px;
    right: 5px;
    font-size: 2em;
}

.cls-flow-panel {
    min-height: 25em;

}

/* 9
*****************************************************************
*                   Index 9: site footer sets                 *
*****************************************************************/
.page-footer {
    text-align: center;
}

.page-footer p {
    margin: 0;
}