{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "admin/_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
          type="image/x-icon">
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} -
    {% endif %}
    {{ config['SITE_TITLE'] }}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#site-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ config['SITE_TITLE'] }}</a>
            </div>

            <div class="collapse navbar-collapse" id="site-navbar">

                <ul class="nav navbar-nav">
                    {% if request.endpoint %}
                        <li {% if request.endpoint == 'admin.index' %} class="active" {% endif %}>
                            <a href={{ url_for('admin.index') }}>概览</a>
                        </li>
                        <li {% if request.endpoint == 'admin.site' %} class="active" {% endif %}>
                            <a href={{ url_for('admin.site') }}>站点</a>
                        </li>
                        <li {% if request.endpoint == 'admin.profile' or request.endpoint == 'admin.changepassword' %}
                            class="active" {% endif %}>
                            <a href={{ url_for('admin.profile') }}>个人</a>
                        </li>
                        <li {% if request.path.startswith('/admin/blog') %} class="active" {% endif %}>
                            <a href={{ url_for('admin.blog') }}>博客</a>
                        </li>
                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                管理
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin.new_post') }}">发文</a></li>
                                <li><a href="{{ url_for('admin.index') }}">后台</a></li>
                                <li><a href="{{ url_for('main.logout') }}">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}

            </div>

        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="flashed-message" id="flashed-message">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning fade in" id="flash">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% block page_container %}

                <div class="col-md-9">
                    {% block page_main %}

                    {% endblock %}
                </div>

                <div class="col-md-3">
                    {% block page_sidebar %}

                    {% endblock %}
                </div>

            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment(local_js="/static/js/moment-with-locales.min.js") }}

    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script>
        var $ADMIN_EDIT_POST_PATH = '';
        var $ADMIN_NEW_POST_PATH = {{ url_for('admin.new_post')|tojson|safe }};
        var $ADMIN_INDEX_PATH = {{ url_for('admin.index')|tojson|safe }};
        var $ADMIN_BLOG_PATH = {{ url_for('admin.blog')|tojson|safe }};
        var $ADMIN_MANAGE_POST_PATH = {{ url_for('admin.manage_posts')|tojson|safe }};
        var $ADMIN_MANAGE_CATE_PATH = {{ url_for('admin.manage_categories')|tojson|safe }};
        var $ADMIN_MANAGE_TAG_PATH = {{ url_for('admin.manage_tags')|tojson|safe }};

        {% if request.endpoint == ('admin.edit_post') %}
            $ADMIN_EDIT_POST_PATH = {{ request.path|tojson|safe }};
        {% endif %}

        {% if current_user.is_authenticated %}
            var $CSRF_TOKEN = "{{ csrf_token() }}";
        {% endif %}

    </script>

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% endblock %}