{% extends "admin/_base.html" %}

{% block page_container %}
    <div class="col-md-12">
        <h2>博客管理</h2>
        <table class="table">

            <tr>
                <th>评论</th>
                {% if sets.enable_post_comment %}
                    <td> 已开启</td>
                    <td><a href="{{ url_for('admin.manage_comment') }}">
                        关闭
                    </a>
                    </td>
                {% else %}
                    <td> 已关闭</td>
                    <td><a href="{{ url_for('admin.manage_comment') }}">
                        开启
                    </a>
                    </td>
                {% endif %}
            </tr>

            <tr>
                <th>每页</th>
                <td>{{ sets.posts_per_page }}篇</td>
                <td><a id="edit-posts-per_page" style="cursor:pointer;">修改</a></td>
            </tr>

            <tr>
                <th>文章</th>
                <td>{{ posts_count }}篇</td>
                <td><a href="{{ url_for('admin.manage_posts') }}">管理</a></td>
            </tr>

            <tr>
                <th>分类</th>
                <td>{{ cates_count }}</td>
                <td><a href="{{ url_for('admin.manage_categories') }}">管理</a></td>

            </tr>

            <tr>
                <th>标签</th>
                <td>{{ tags_count }}</td>
                <td><a href="{{ url_for('admin.manage_tags') }}">管理</a></td>
            </tr>

        </table>
    </div>

{% endblock %}