{% extends "admin/_base.html" %}

{% block page_container %}
    <div class="col-md-12">

        <h2>站点概览</h2>
        <table class="table">
            <tr>
                <th>标题</th>
                <td>{{ sets.site_title }}</td>
            </tr>
            <tr>
                <th>简介</th>
                <td>{{ sets.site_description }}</td>
            </tr>

            <tr>
                <th>作者</th>
                <td>{{ user.name }}</td>
            </tr>

            <tr>
                <th>文章</th>
                <td>{{ posts_count }}篇</td>
            </tr>

            <tr>
                <th>Disqus ID</th>
                <td title="Disqus Identifier">{{ sets.disqus_identifier }}</td>
            </tr>

            <tr>
                <th title="Google Analytics Track ID">Track ID</th>
                <td>{{ sets.google_analytics_code }}</td>
            </tr>

        </table>
    </div>


{% endblock %}